---
// SubscriptionForm.astro
interface Props {
  buttonColor?: string; // Optional color for the button
}

import colors from '../config/colors.json';

const buttonColor = Astro.props.buttonColor || colors[Math.floor(Math.random() * colors.length)];
---

<style define:vars={{ buttonColor }}>
  .brutal-input {
    border: 3px solid black;
    padding: 0.5rem 1rem;
    outline: none;
    font-family: 'Sanchez', serif;
    box-shadow: 5px 5px 0px rgb(0 0 0 / 1);
    transition: box-shadow 0.2s ease-in-out;
  }

  .brutal-input:focus {
    box-shadow: 3px 3px 0px rgb(0 0 0 / 1);
  }

  .brutal-button {
    background-color: var(--buttonColor);
    color: white;
    font-family: 'Sanchez', serif;
    padding: 0.5rem 1.5rem;
    border: 2px solid black;
    box-shadow: 5px 5px 0px rgb(0 0 0 / 1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .brutal-button:hover {
    box-shadow: 3px 3px 0px rgb(0 0 0 / 1);
    transform: translate(1px, 1px);
  }

  .brutal-note {
    font-size: 0.875rem;
    margin-top: 0.5rem;
    color: rgb(50, 50, 50);
  }
</style>

<div>  
  <form class="flex items-center gap-3">
    <input
    type="email"
    placeholder="Email Address"
    class="brutal-input w-full rounded-md"
    required
    />
    <button type="submit" class="brutal-button rounded-md">
      Subscribe
    </button>
  </form>
  <p class='poppins px-4 pt-4 pb-0 text-center mx-auto'>I will never spam or sell your info. Ever.</p>
</div>
